# Ignore local database instance
Milestone_01/instance/

# Ignore admin templates
Milestone_01/templates/admin/

# Ignore specific user templates
Milestone_01/templates/user/assistant.html
Milestone_01/templates/user/fitness.html
Milestone_01/templates/user/simulation.html
Milestone_01/templates/user/study.html
